In [1]:
import time
import json
# import pyodbc
# import psycopg2
import pandas as pd
# from psycopg2 import sql
# import traceback
import numpy as np
# from psycopg2.extras import execute_values

In [2]:
# class PGSQL():
#     def __init__(self):
#         db_params = {
#             'dbname': 'omc_power',
#             'user': 'root',
#             'password': 'root',
#             'host': 'db',
#             'port': '5432'}
#         self.connection= psycopg2.connect(**db_params)
#         self.cursor = self.connection.cursor()

#     def run_query(self,query,return_df=True,exc_time=True,commit=True):
#         start_time = time.time()
#         # Execute the query
#         try:
#             self.cursor.execute(query)
#         except Exception as e:
#             self.cursor.conn.rollback() 
            
#         # Commit the changes
#         if commit:
#             self.connection.commit()
#             return True
#         else:
#             rows=self.cursor.fetchall()
            
#             end_time = time.time()
#             execution_time = end_time - start_time
#             print("execution time",round(execution_time,2))
#             if return_df:
#                 columns = [column[0] for column in self.cursor.description]
#                 df = pd.DataFrame.from_records(rows, columns=columns)
#                 return df
#             else:
#                 return rows
#     def bulk_insert(self,query_srt,data):
#         execute_values(self.cursor, query_srt, data)
#         self.connection.commit()
#         print("Bulk insert successful.")

#     def close_conn(self):
#         self.cursor.close()
#         self.connection.close()
#         print("closed")

In [3]:
# raw_data_query="""
# WITH first_last_events AS (
#     SELECT
#         vin,
#         event_time_stamp,
#         event1, event2, event3, event4, event5, event6,
#         ROW_NUMBER() OVER (PARTITION BY vin ORDER BY event_time_stamp) AS row_num_first,
#         ROW_NUMBER() OVER (PARTITION BY vin ORDER BY event_time_stamp DESC) AS row_num_last
#     FROM type_aimpt
#     WHERE event_time_stamp::date = '<DATE>' -- replace with the desired date
# )
# SELECT 
#     vin,
#     MAX(CASE WHEN row_num_last = 1 THEN event1 END) - MAX(CASE WHEN row_num_first = 1 THEN event1 END) AS solar_gen,
#     MAX(CASE WHEN row_num_last = 1 THEN event2 END) - MAX(CASE WHEN row_num_first = 1 THEN event2 END) AS battery_charging,
#     MAX(CASE WHEN row_num_last = 1 THEN event3 END) - MAX(CASE WHEN row_num_first = 1 THEN event3 END) AS battery_discharging,
#     MAX(CASE WHEN row_num_last = 1 THEN event4 END) - MAX(CASE WHEN row_num_first = 1 THEN event4 END) AS plant_load,
#     MAX(CASE WHEN row_num_last = 1 THEN event5 END) - MAX(CASE WHEN row_num_first = 1 THEN event5 END) AS community,
#     MAX(CASE WHEN row_num_last = 1 THEN event6 END) - MAX(CASE WHEN row_num_first = 1 THEN event6 END) AS dg_kwh
# FROM first_last_events
# GROUP BY vin;
# """
# tower_load_query="""SELECT
#     omc_id,
#     date_time,
#     active_energy,
#     prev_active_energy,
#     prev_date_time,
#     active_energy - prev_active_energy AS energy_diff
# FROM (
#     SELECT
#         omc_id,
#         date_time,
#         CAST(active_energy AS FLOAT) AS active_energy,
#         LAG(CAST(active_energy AS FLOAT)) OVER (PARTITION BY omc_id ORDER BY date_time) AS prev_active_energy,
#         LAG(date_time) OVER (PARTITION BY omc_id ORDER BY date_time) AS prev_date_time
#     FROM
#         daily_energy
# ) subquery
# WHERE
#     prev_active_energy IS NOT NULL and  date_time = '<DATE>';
# """

# dgrh_query="""select vin , from_date , running_duration,tot_running_duration
# from dg_run_hour 
# where from_date = '<DATE>'"""

# fuel_level_query="""
# select cast(ioevent as json)->>'fuelLeval' as fuelLeval ,vin ,event_time_stamp
# from type_aimpt
# where  event_time_stamp::date = '<DATE>'
# """

# omc_hour_query="""
# SELECT omc_id as plant_id,total_supply_hours
# FROM daily_energy 
# WHERE date_time = '<DATE>';
# """

In [4]:
# pg_sql=PGSQL()
# date='2024-07-04'
# master_df=pg_sql.run_query("select * from vin_omc_list_of_plants_with_infra",commit=False)
# df_raw=pg_sql.run_query(raw_data_query.replace('<DATE>',date),commit=False)
# tower_load_df=pg_sql.run_query(tower_load_query.replace('<DATE>',date),commit=False)
# dgrh_df=pg_sql.run_query(dgrh_query.replace('<DATE>',date),commit=False)
# fuel_level_df=pg_sql.run_query(fuel_level_query.replace('<DATE>',date),commit=False)
# omc_hour_df=pg_sql.run_query(omc_hour_query.replace('<DATE>',date),commit=False)
# pg_sql.close_conn()

In [38]:
import pickle
from IPython.display import FileLink

In [6]:
# def pickle_dataframe(df, filename):
#     with open(filename, 'wb') as f:
#         pickle.dump(df, f)

In [7]:
# pickle_dataframe(master_df, 'master_df.pkl')

In [8]:
# pickle_dataframe(df_raw, 'df_raw.pkl')
# pickle_dataframe(tower_load_df, 'tower_load.pkl')
# pickle_dataframe(dgrh_df, 'dgrh.pkl')
# pickle_dataframe(fuel_level_df, 'fuel_level.pkl')
# pickle_dataframe(omc_hour_df, 'omc_hour.pkl')

In [9]:
# display_link_master = FileLink('master_df.pkl')

In [10]:
# display_link_raw = FileLink('df_raw.pkl')
# display_link_tower_load = FileLink('tower_load.pkl')
# display_link_dgrh = FileLink('dgrh.pkl')
# display_link_fuel_level = FileLink('fuel_level.pkl')
# display_link_omc_hour = FileLink('omc_hour.pkl')

In [11]:
"".endswith

In [12]:
import os,pickle

In [13]:
def get_df(file_path):
    with open(file_path, 'rb') as file:
        data = pickle.load(file)
        return data

In [14]:
current_dir = os.getcwd()
df_dict={}
files = [f for f in os.listdir(current_dir) if os.path.isfile(os.path.join(current_dir, f)) and f.endswith('pkl')]
for file in files:
    df_dict[file.split(" ")[0]] = get_df(file)

In [15]:
def fix_omc_id(data):
    if data.count("-"):
        try:
            return str(int(data.split('-')[1]))
        except Exception as e:
            return data.split('-')[1]
    return data
def fix_vin(data):
    return str(int(data.replace('omc',"")))
def fule_level_consumption(fuel_level_df):
    fuelleval_dict={}
    for vin in fuel_level_df['vin'].unique():
        tmp_df=fuel_level_df[fuel_level_df['vin']==vin].sort_values(by='event_time_stamp')
        d_fuel_level=tmp_df['fuelleval'].astype(float).diff()
        fuelleval_dict[vin] = d_fuel_level[d_fuel_level < 0].sum() * -1
        print("*",end="")
    # Convert dictionary to DataFrame
    df = pd.DataFrame.from_dict(fuelleval_dict, orient='index', columns=['fuel_level'])
    
    # Reset the index to make the dictionary keys as a column
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'vin'}, inplace=True)
    return df

In [16]:
df_dict.keys()

dict_keys(['df_raw', 'dgrh', 'fuel_level', 'master_df', 'omc_hour', 'tower_load'])

In [17]:
df_raw=df_dict['df_raw']
dgrh_df=df_dict['dgrh']
fuel_level_df=df_dict['fuel_level']
master_df=df_dict['master_df']
omc_hour_df=df_dict['omc_hour']
tower_load_df=df_dict['tower_load']

In [18]:
master_df['vin']=master_df['vin'].astype(str).apply(lambda x: 'omc' + x.split('.')[0])
master_df['plant_id']=master_df['plant_id'].astype(str).apply(lambda x: x.split('.')[0])
tower_load_df['omc_id'] =tower_load_df['omc_id'].astype(str).apply(fix_omc_id)
master_df=master_df[['vin','plant_id','site_name','total_cap_in_kwp','cap_in_kva','cap_in_kw','fuel_cap_in_litres','total_ah','battery_cap_in_kwh']]
merged_df = pd.merge(df_raw, master_df, on='vin', how='left')
merged_df['solar_gen_factor'] = merged_df['solar_gen'] / merged_df['total_cap_in_kwp']
result = pd.merge(merged_df, tower_load_df.rename(columns={'omc_id': 'plant_id'}), on='plant_id', how='outer')
result['Batt Losses in KWH'] = result['battery_charging'] - result['battery_discharging'] 
result = pd.merge(result, dgrh_df, on='vin', how='outer')
result['DGRH'] = result['running_duration'].astype(float)  / 60
fl_df=fule_level_consumption(fuel_level_df)
result = pd.merge(result, fl_df, on='vin', how='outer')
result['Diesel Cons in Litrs'] = (result['fuel_level'] /100 ) * result['fuel_cap_in_litres']
result['Trans Loss in %'] = ( (result['plant_load'] - result['energy_diff']) / result['plant_load'] ) * 100
result['Solar short fall in KWH'] = (result['plant_load'] - result['solar_gen']) + 0.2 * result['solar_gen'] + 0.2 * (result['plant_load'] - result['plant_load'])
result['CPH'] =  result['Diesel Cons in Litrs'] / result['DGRH']
result['DG Gen / Hr in KWH'] = result['Diesel Cons in Litrs']/result['DGRH']
result['Exp DGRH'] = result['Solar short fall in KWH'] / result['DG Gen / Hr in KWH']
result['Exp DG Gen in KW'] = result['Exp DGRH'] * result['DG Gen / Hr in KWH']
result['Ext DGRH'] = result['DGRH']  - result['Exp DGRH']
result['Extra fuel cons in Ltrs'] = result['CPH'] * result['Ext DGRH']
omc_hour_df['plant_id'] =omc_hour_df['plant_id'].astype(str).apply(fix_omc_id)
result = pd.merge(result, omc_hour_df, on='plant_id', how='outer')

********************************************************************************************************************************************************************************************************************************************************************************************************

In [19]:
result.columns

Index(['vin', 'solar_gen', 'battery_charging', 'battery_discharging',
       'plant_load', 'community', 'dg_kwh', 'plant_id', 'site_name',
       'total_cap_in_kwp', 'cap_in_kva', 'cap_in_kw', 'fuel_cap_in_litres',
       'total_ah', 'battery_cap_in_kwh', 'solar_gen_factor', 'date_time',
       'active_energy', 'prev_active_energy', 'prev_date_time', 'energy_diff',
       'Batt Losses in KWH', 'from_date', 'running_duration',
       'tot_running_duration', 'DGRH', 'fuel_level', 'Diesel Cons in Litrs',
       'Trans Loss in %', 'Solar short fall in KWH', 'CPH',
       'DG Gen / Hr in KWH', 'Exp DGRH', 'Exp DG Gen in KW', 'Ext DGRH',
       'Extra fuel cons in Ltrs', 'total_supply_hours'],
      dtype='object')

In [20]:
result.rename(columns={
    'plant_id':'Site ID',
    'total_cap_in_kwp':'Solar Cap in KWp',
    'total_cap_in_kwp':'Solar Cap in KWp',
    'cap_in_kva':'DG Cap in KVA',
    'solar_gen':'Solar Gen in KWH',
    'energy_diff':'Load in KWH @ Tower',
    'plant_load':'Load in KWH @ Plant',
    'battery_charging':'Battery Chg in KWH',
    'battery_discharging':'Batt Dischg in KWH',
    'dg_kwh':'DG Gen in KWH',
    'total_supply_hours':'No of Hours Load supplied by OMC',
    'site_name':'Plant Name',
    'solar_gen_factor':'Solar Gen Factor',
        },inplace=True)

In [21]:
result.columns

Index(['vin', 'Solar Gen in KWH', 'Battery Chg in KWH', 'Batt Dischg in KWH',
       'Load in KWH @ Plant', 'community', 'DG Gen in KWH', 'Site ID',
       'Plant Name', 'Solar Cap in KWp', 'DG Cap in KVA', 'cap_in_kw',
       'fuel_cap_in_litres', 'total_ah', 'battery_cap_in_kwh',
       'Solar Gen Factor', 'date_time', 'active_energy', 'prev_active_energy',
       'prev_date_time', 'Load in KWH @ Tower', 'Batt Losses in KWH',
       'from_date', 'running_duration', 'tot_running_duration', 'DGRH',
       'fuel_level', 'Diesel Cons in Litrs', 'Trans Loss in %',
       'Solar short fall in KWH', 'CPH', 'DG Gen / Hr in KWH', 'Exp DGRH',
       'Exp DG Gen in KW', 'Ext DGRH', 'Extra fuel cons in Ltrs',
       'No of Hours Load supplied by OMC'],
      dtype='object')

In [22]:
result=result[['Site ID',
 'Plant Name',
 'Solar Cap in KWp',
 'DG Cap in KVA',
 'Solar Gen in KWH',
 'Load in KWH @ Tower',
 'Load in KWH @ Plant',
 'Battery Chg in KWH',
 'Batt Dischg in KWH',
 'Batt Losses in KWH',
 'DGRH',
 'DG Gen in KWH',
 'Diesel Cons in Litrs',
 'Solar Gen Factor',
 'Trans Loss in %',
 'Solar short fall in KWH',
 'CPH',
 'DG Gen / Hr in KWH',
 'Exp DG Gen in KW',
 'Exp DGRH',
 'Ext DGRH',
 'Extra fuel cons in Ltrs',
 'No of Hours Load supplied by OMC',]]

In [23]:
result.columns

Index(['Site ID', 'Plant Name', 'Solar Cap in KWp', 'DG Cap in KVA',
       'Solar Gen in KWH', 'Load in KWH @ Tower', 'Load in KWH @ Plant',
       'Battery Chg in KWH', 'Batt Dischg in KWH', 'Batt Losses in KWH',
       'DGRH', 'DG Gen in KWH', 'Diesel Cons in Litrs', 'Solar Gen Factor',
       'Trans Loss in %', 'Solar short fall in KWH', 'CPH',
       'DG Gen / Hr in KWH', 'Exp DG Gen in KW', 'Exp DGRH', 'Ext DGRH',
       'Extra fuel cons in Ltrs', 'No of Hours Load supplied by OMC'],
      dtype='object')

In [24]:
result[result['Site ID']=='238']

,Site ID,Plant Name,Solar Cap in KWp,DG Cap in KVA,Solar Gen in KWH,Load in KWH @ Tower,Load in KWH @ Plant,Battery Chg in KWH,Batt Dischg in KWH,Batt Losses in KWH,...,Solar Gen Factor,Trans Loss in %,Solar short fall in KWH,CPH,DG Gen / Hr in KWH,Exp DG Gen in KW,Exp DGRH,Ext DGRH,Extra fuel cons in Ltrs,No of Hours Load supplied by OMC
252,238,NaN,NaN,NaN,NaN,258.67,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.67

In [25]:
clip_zero_list=['Batt Losses in KWH','Ext DGRH','Extra fuel cons in Ltrs','Solar short fall in KWH']
result[clip_zero_list] = result[clip_zero_list].clip(lower=0)

In [27]:
result['Revenue in INR'] = result['Load in KWH @ Tower'] * 20

In [28]:
result

,Site ID,Plant Name,Solar Cap in KWp,DG Cap in KVA,Solar Gen in KWH,Load in KWH @ Tower,Load in KWH @ Plant,Battery Chg in KWH,Batt Dischg in KWH,Batt Losses in KWH,...,Trans Loss in %,Solar short fall in KWH,CPH,DG Gen / Hr in KWH,Exp DG Gen in KW,Exp DGRH,Ext DGRH,Extra fuel cons in Ltrs,No of Hours Load supplied by OMC,Revenue in INR
0,10,NaN,NaN,NaN,NaN,177.10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.58,3542.0
1,102,NaN,NaN,NaN,NaN,65.55,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.92,1311.0
2,105,NaN,NaN,NaN,NaN,92.40,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.08,1848.0
3,106,NaN,NaN,NaN,NaN,89.47,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.42,1789.4
4,107,NaN,NaN,NaN,NaN,42.24,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,844.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,NaN,NaN,NaN,NaN,85.6,NaN,190.4,73.4,71.3,2.1,...,NaN,121.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,NaN,NaN,NaN,NaN,24.2,NaN,36.2,12.6,1.0,11.6,...,NaN,16.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,NaN,NaN,NaN,NaN,45.6,NaN,18.5,32.0,20.8,11.2,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,68.4,NaN,119.9,6.6,29.7,0.0,...,NaN,65.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,16.9,NaN,25.5,9.0,33.5,0.0,...,NaN,11.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
result=result.dropna(subset=['Plant Name','Site ID'])

In [30]:
result[result['Site ID']=='238']

Empty DataFrame
Columns: [Site ID, Plant Name, Solar Cap in KWp, DG Cap in KVA, Solar Gen in KWH, Load in KWH @ Tower, Load in KWH @ Plant, Battery Chg in KWH, Batt Dischg in KWH, Batt Losses in KWH, DGRH, DG Gen in KWH, Diesel Cons in Litrs, Solar Gen Factor, Trans Loss in %, Solar short fall in KWH, CPH, DG Gen / Hr in KWH, Exp DG Gen in KW, Exp DGRH, Ext DGRH, Extra fuel cons in Ltrs, No of Hours Load supplied by OMC, Revenue in INR]
Index: []

[0 rows x 24 columns]

In [31]:
# result['Diesel Expenses in INR'] = result['Diesel Cons in Litrs'] * 1

result['Diesel Expenses in INR'] = result['Diesel Cons in Litrs'] * 90

In [32]:
result['Other Expenses in INR'] = 128

In [33]:
result.loc[:, 'Plant expenses in INR'] = result['Other Expenses in INR'] + result['Diesel Expenses in INR']

In [34]:
result

Empty DataFrame
Columns: [Site ID, Plant Name, Solar Cap in KWp, DG Cap in KVA, Solar Gen in KWH, Load in KWH @ Tower, Load in KWH @ Plant, Battery Chg in KWH, Batt Dischg in KWH, Batt Losses in KWH, DGRH, DG Gen in KWH, Diesel Cons in Litrs, Solar Gen Factor, Trans Loss in %, Solar short fall in KWH, CPH, DG Gen / Hr in KWH, Exp DG Gen in KW, Exp DGRH, Ext DGRH, Extra fuel cons in Ltrs, No of Hours Load supplied by OMC, Revenue in INR, Diesel Expenses in INR, Other Expenses in INR, Plant expenses in INR]
Index: []

[0 rows x 27 columns]

In [37]:
result.loc['Loss or Profit %'] = ((result['Revenue in INR'] - result['Plant expenses in INR'] ) / result['Revenue in INR']) * 100

C:\Users\Aryan.Raj\AppData\Local\Temp\ipykernel_13744\3178552083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.loc['Loss or Profit %'] = ((result['Revenue in INR'] - result['Plant expenses in INR'] ) / result['Revenue in INR']) * 100

In [36]:
result[result['Site ID']=='238']

Empty DataFrame
Columns: [Site ID, Plant Name, Solar Cap in KWp, DG Cap in KVA, Solar Gen in KWH, Load in KWH @ Tower, Load in KWH @ Plant, Battery Chg in KWH, Batt Dischg in KWH, Batt Losses in KWH, DGRH, DG Gen in KWH, Diesel Cons in Litrs, Solar Gen Factor, Trans Loss in %, Solar short fall in KWH, CPH, DG Gen / Hr in KWH, Exp DG Gen in KW, Exp DGRH, Ext DGRH, Extra fuel cons in Ltrs, No of Hours Load supplied by OMC, Revenue in INR, Diesel Expenses in INR, Other Expenses in INR, Plant expenses in INR]
Index: []

[0 rows x 27 columns]